<!--The content below is only a placeholder and can be replaced.-->


  <div class="container">
    <div class="row" style="background-color: lightblue">
      <div class="col">
        Welcome to Campus Convention center !
      </div>
      <div class="col">
        <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link active" routerLink="topic-list">Liste de Sujets</a>
          <a class="nav-item nav-link active" routerLink="form-topic">Proposer un Sujet</a>
        </nav>
      </div>
    </div>
    <div class="row" style="background-color: aliceblue ">
      <div class="col">
        <!--<app-topic-list></app-topic-list>-->

      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
